.mainPage {
    box-sizing: border-box;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    h3 {
        font-weight: lighter;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        h3 {
            margin: 10px;
            &:hover {
                cursor: pointer;
                color: #d0d0d0;
            }
        }
    }

    .mainPageBody {
        display: flex;
        height: 90vh;
        overflow-y: hidden;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        .searchStock{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                width: 50%;
                padding: 4px;
                border-radius: 4px;
                margin-bottom: 20px;
                margin-right: 15px;
                margin-top: 20px;
                font-size: 15px;
            }
            .searchBtn{
                cursor: pointer;
            }

        }

        .mainPageMarket{
            display: flex;
            flex-direction: column;
            width: 100%;
            .secTitle {
                margin: 0;
                background-color: #214c9e;
                border-radius: 4px;
                padding: 4px;
                h3{
                    margin: 0;
                }
                h4{
                    margin: 5px 0;
                }
            }
            .mainMarketIndices {
                display: flex;
                flex-direction: row;
                align-items: center;

                justify-content: start;

            }
        }
        .mainPageStocks{
            width: 100%;
            margin-top: 20px;
            .secTitle {
                margin: 0;
                background-color: #214d9f;
                border-radius: 4px;
                padding: 4px;
                h3{
                    margin: 0;
                }
            }
            .allStocks {
                margin-top: 10px;
                padding-right: 20px;
                flex: 1;
                height: 80vh;
                overflow-y: auto;

                /* 自定义滚动条样式（适用于 Webkit 浏览器） */
                &::-webkit-scrollbar {
                    width: 6px; // 滚动条宽度
                }

                &::-webkit-scrollbar-track {
                    background: #1a1a1a; // 滚动轨道颜色（深灰）
                    border-radius: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #444; // 拖动块颜色（灰）
                    border-radius: 3px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: #666; // 悬停颜色
                }
            }
        }

        
    }

    .mainPageFooter {

    }
}
.stockTitleRow,
.stockItemRow {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    padding: 8px 6px;
    padding-right: 20px;
    box-sizing: border-box;
    .name{
        width: 20%;
    }
    span {
        flex: 1;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.name {
            width: 20vw;
            text-align: left;
            padding-left: 10px;
        }

        &.action {
            flex: 1;
            text-align: right;
            padding-right: 10px;
        }
    }
}

.stockTitleDivider {
    border: none;
    border-top: 1px solid white;
    margin: 0;
    width: 100%;
}